<!-- <el-table [model]="tableDataMore" height="300px">
    <el-table-column model-key="name" label="姓名" width="150">
    </el-table-column>
    <el-table-column model-key="port" label="端口" width="150">
    </el-table-column>
    <el-table-column model-key="version" label="版本"> </el-table-column>
    <el-table-column label="操作" width="120">
        <ng-template #slot let-scope="scope">
            <el-button type="text" size="small" (click)="handle(scope)">删除</el-button>
        </ng-template>
    </el-table-column>
</el-table> -->
<!-- <div id="header">
    <button type="button" class="btn btn-primary" (click)="startGetImg()">开始获取</button>
    <button type="button" class="btn btn-danger" (click)="stopGetImg()">停止获取</button>
</div> -->
<!-- <div id="box">
    <div class="item">
        <img src="https://uploadbeta.com/api/pictures/random" alt="美女">
    </div>
</div> -->

<input type="text" id="time">